html, body {
    height: 100%; /* Asegúrate de que ambos ocupen el 100% de la altura */
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Dancing Script', cursive; /* Fuente elegante */
    position: relative; /* Para el posicionamiento del filtro */
    overflow: hidden; /* Evitar el desbordamiento */
}

/* Contenedor principal */
.container {
    text-align: center;
    color: #000000; /* Color del texto a negro */
    position: relative; /* Necesario para posicionar correctamente */
    z-index: 2; /* Asegura que el texto esté encima del filtro */
}

/* Estilo del título */
h1 {
    font-size: 4rem; /* Aumentar el tamaño de la fuente */
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); /* Sombra blanca para dar profundidad */
    color: #000000; /* Color negro para el texto */
}

/* Estilo del botón */
button {
    background-color: #00bcd4;
    color: #000000; /* Color del texto del botón a negro */
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s; /* Agregar transición */
}

button:hover {
    background-color: #008c9e; /* Color más oscuro al pasar el mouse */
}

/* Capa de filtro */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://cdn.pixabay.com/animation/2023/06/06/06/51/06-51-32-766_512.gif'); /* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    opacity: 1; /* Cambia la opacidad a 1 para que la imagen se vea completamente */
    z-index: 1; /* Debajo del contenido */
}
